@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

a {
  color: #696969;
  text-decoration: none;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

.change_lang {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400px;
  font-style: normal;
  line-height: 20px;
  color: #696969;
  text-decoration: none;
}

.header {
  padding: 50px 0;
  width: 100%;
  min-height: 800px;
  position: relative;
  z-index:10;
  margin-bottom: 130px;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(57, 57, 57, 0.5) 100%), url(../pictures/building.png) center / cover ;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: content-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 178px;
  max-width: 73%;
}
.first_content {
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #1733B8;
  margin-bottom: 30px;
}
.second_content {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #696969;

}

.list_menu {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  transition: 0.7s ease;
}

.list_menu:hover {
  color: #1733B8;
}
.bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: #0a0a0b;
  border-radius: 30%;
  box-shadow: 0 0 10px rgb(179, 169, 235);
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.hamburger {
  cursor: pointer;
  display: none;
}

.navbar_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #696969;
}

.navbar_symbols {
  display: flex;
  align-items: center;
  flex-wrap:wrap ;
  max-width: 400px;
  gap: 40px;
  row-gap: 25px;
  position: absolute;
  bottom: 30px;
}
.navbar_symbols div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background: url(../pictures/Ellipse\ 17.png) center / cover;
}
.navbar_symbols div img {
  object-fit: cover;
  width: fit-content;
}
@media(max-width: 1335px){
  .container {
    margin: 0 80px;
  }
  .first_content{
    font-size: 40px;
  }
}

@media(max-width:998px){
  
  .header {
    min-height: 100vh;
    margin-bottom: 100px;
  }  
  /* .container {
    margin: 0 70px;
  } */
  
  .navbar_list {
    gap: 55px;
  }
  .list_menu {
    font-size: 15px;
  }
  .navbar_content {
    margin-top: 100px;
  }
  .first_content{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .second_content {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}


@media(max-width:768px){
  .hamburger {
    display: block;
    z-index: 3;
    position: absolute;
    right: 8%;
  }
  .container {
    margin: 0 8%;

  }
  .header {
    min-height: 100vh;
  }
  .header_ru {
    display: none;
  }
  .navbar_list {
    position: fixed;
    right: -100%;
    gap: 0;
    top: 0;
    flex-direction: column;
    background-color: #1733B8;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    transition: 0.3s ;
  }
  .navbar_list a {
    color: #fff;
  }
  .list_menu {
    padding: 20px 15%;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 8px;
  }
  .navbar_content {
    margin-top: 15%;
  }
  .first_content{
    font-weight: 600;
    line-height: 50px;
    font-size: 34px;
  }
  .second_content {
    display: none;
  }

  .navbar_symbols {
    display: none;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;

  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);

  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);

  }

  .navbar_list.active {
    right: 0;
  }
}

@media(max-width:425px){
  .first_content{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
  }
  .navbar_content {
    max-width: 100%;
  }
  .bar {
    width: 20px;
    height: 2px;
    margin: 3px 0;
  }
  .header {
    padding: 45px 0;
    min-height: 235px;
    margin: 0;
  }
  .navbar_content {
    margin-top: 15%;
  }

  .change_lang {
    display: none;
  }
  



}

